<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up Form</title>
</head>
<body>
    <p>Hello, Welcome to the signup page</p>
    <p>Today is a {{ day_of_week }}</p>
    <p>The time is {{ current_time }}</p>
</body>
<style>
    body {
        background-color: aqua;
    }
    p{
        text-align: center;
        font-size: 50px;
        font-family: 'Courier New', Courier, monospace;
        color: black;
    }
</style>
</html>
